GROQ_API_KEY=
HUGGINGFACE_API_KEY=
HUGGINGFACE_BASE_URL=https://router.huggingface.co/v1
HUGGINGFACE_MODEL=Qwen/Qwen2.5-7B-Instruct-1M
HUGGINGFACE_VISION_MODEL=zai-org/GLM-4.5V
LLM_PROVIDER=auto
DATABASE_URL=postgresql://neondb_owner:npg_JLuxq0oBOM7f@ep-cool-poetry-aqu68ov9.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
